<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <title>Document</title>
        <script>
            var isFirstLoad = true;
            function updateContent() {
                $.ajax({
                    url: "/",
                    method: "GET",
                    success: function(data) {
                        $(".row").html(data);
                        isFirstLoad = false;
                    },
                    error: function(xhr, status, error) {
                        console.error("Une erreur s'est produite lors de la mise à jour du contenu du tableau :", error);
                    }
                });
            }
            $(document).ready(function() {
                setInterval(updateContent, 1000);
            });
            function afficherDateHeure() {
                const now = new Date();
                const optionsDate = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                const optionsHeure = { hour: 'numeric', minute: 'numeric', second: 'numeric' };
                
                const dateFr = now.toLocaleDateString('fr-FR', optionsDate);
                const timeFr = now.toLocaleTimeString('fr-FR', optionsHeure);
                
                $('#dateHeure').text(dateFr + ' ' + timeFr);
            }
            
            $("#title").html("Météo");

            // Mettre à jour la date et l'heure périodiquement
            setInterval(afficherDateHeure, 1000);

            
        </script>
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0 mt-5">
            <div class="container">
                <div id="dateHeure"></div>
                <div class="row">

                    {% for device in devices %}
                    <div class="col-md-6">
                        <div class="card">
                            <h2 class="card-title text-center">{{ device["hostname"] }}</h2>

                            <div class="card-body">
                                <p>Local IP : {{ device["Local IP"] }}</p>
                                <p>Public IP : {{ device["Public IP"] }}</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Nom</th>
                                                <th scope="col">Port</th>
                                                <th scope="col">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody class="content">
                                            {% for service_name in device["services"] %}
                                            <tr>
                                                <td>{{ service_name }}</td>
                                                <td>{{ device["services"][service_name]["port"] }}</td>
                                                <td>
                                                    {% if device["services"][service_name]["status"] == "up" %}
                                                        <span class="badge bg-success">Actif</span>
                                                    {% else %}
                                                        <span class="badge bg-danger">Inactif</span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </main>
    </body>    
</html>
